      body {
        font-family: "Sono", sans-serif;
        background-color: lightblue;
      }

      .pricing-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 100vh;
      }

      .pricing-plan {
        background-color: #fffbda;
        border: 2px solid black;
        text-align: center;
        flex: 1;
        max-width: 400px;
        height: 490px;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
      }

      .plan-title {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
      }

      .plan-price {
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 20px;
      }

      .plan-features {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .plan-features li {
        margin: 40px;
        padding-left: 20px;
        text-align: left;
        font-size: 20px;
      }

      .plan-button {
        background-color: #ed9455;
        border-radius: 5px;
        border: none;
        width: 100%;
        padding: 15px;
        font-size: 20px;
      }

      header {
        background-color: #ed9455;
        padding: 20px;
        border-radius: 20px;
      }

      .tick::before {
        content: "\2713";
        color: #ffbb70;
        font-size: 30px;
        margin-right: 5px;
      }

      .cross::before {
        content: "\2717";
        color: #ffbb70;
        font-size: 30px;
        margin-right: 5px;
      }

      .plan-button:hover{
        background-color:#ffbb70;
        transform: translateY(-3px);
      }

      @media (max-width: 1250px) {
        .pricing-container {
          flex-direction: column;
          height: 100%;
        }
      }
